sagnik_venv/
API_KEY
TREC-RAG_2024_Analysis/Discriminator_and_Noise/Discriminator/Data/msmarco_v2.1_doc_segmented/
TREC-RAG_2024_Analysis/Discriminator_and_Noise/Discriminator/indexes/
data_json/
/home/irlab/sagnik/TREC-RAG_2024_Analysis/Discriminator_and_Noise/Discriminator/Data/Generator/__pycache__
/home/irlab/sagnik/attention_sink_analysis/__pycache__
/home/irlab/sagnik/lost_in_the_middle/Project/KV_Retrieval/__pycache__
/home/irlab/sagnik/lost_in_the_middle/Project/QA/__pycache__
/home/irlab/sagnik/TREC-RAG_2024_Analysis/Discriminator_and_Noise/Discriminator/Generator/__pycache__
/home/irlab/sagnik/TREC-RAG_2024_Analysis/GINGER/__pycache__
__pycache__/